name: Docker Image

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:

  image:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        id: checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to GHCR
        id: login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build
        id: build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/efrecon/rsshd
          platforms: linux/amd64,linux/arm64,linux/ppc64le
